{% extends 'base.html' %}


{% block head_title %}
Timesheets
{% endblock head_title %}

{% block content %}
<div class="container p-5 col-lg-4 mx-auto">
    <div class="d-flex justify-content-between">
        <h1>Timesheets</h1>
        <a class="mt-3 mx-4 text-dark"
            href="{% url 'timesheet-create' %}">Add</a>
    </div>
    <hr>
    <br><br>
    {% for sheet in object_list %}
    <a class="text-decoration-none text-dark"
        href="{{sheet.get_absolute_url}}">
        <div class="p-5 border border-info shadow rounded-4">
            <p class="h4">{{sheet}} ({{sheet.hours}}hrs)</p>
            <hr>
            <p>{{sheet.description}}</p>
            <hr>
            <span class="small text-muted float-end">{{sheet.date}}</span>
        </div>
        <br>
    </a>
    {% endfor %}
</div>
{% endblock content %}