{% extends 'base.html' %}


{% block content %}
<div class="container p-5">
    <a href="{% url 'timesheet-create' %}">Add</a>
    <hr>
    <!-- <a href="{% url 'export_timesheets' %}">Export Timesheets to CSV</a> -->
    <ol>
        {% for ob in object_list %}
        <li>
            <p><a class="text-dark text-decoration-none"
                    href="{{ob.get_absolute_url}}">{{ob.user.profile}} - {{ob.created}}</a>
        </li>
        </p>
        {% endfor %}
    </ol>
</div>
{% endblock content %}