{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block head_title %}
Add
{% endblock head_title %}


{% block content %}
<div
    class="container p-5 col-lg-4 mx-auto p-5 shadow rounded-4 border border-warning my-5">
    <h1>{{object}}</h1>
    <hr>
    <p>Date: {{object.date}}</p>
    <p>Description: {{object.description}}</p>
    <p>Start: {{object.start_date_time}}</p>
    <p>End: {{object.end_date_time}}</p>
    <p>Rate: {{object.hourly_rate}}</p>
    <p>Hours: {{object.hours}}</p>
    <p>Overtime: XCD${{object.overtime}}</p>
    <hr>
    <p class="text-end"><a class="btn btn btn-outline-warning mx-3"
            href="{% url 'timesheet-update' object.pk %}">Edit</a><a
            class="btn btn btn-outline-danger"
            href="">Delete</a></p>
</div>
{% endblock content %}